<div id="signin">
  <div class="greywrap_form">
    <div class="colorbox_head">
      <h4>Please Sign in</h4>
      <% @session = Session.new %>
      <%= simple_form_for @session do |f| %>

      <%= f.input :email %>

      <%= f.input :password %>

      <div><%= f.button :submit, "SIGN IN" %></div>
    <% end %>

    <p id="link_button"> Not a current user? <%= link_to "SIGN UP IMMEDIATELY", signup_path %></p>
    </div>
  </div>
</div>