<% provide(:title, "SIGN IN") %>

<div class="container">
	<div class="formbox span6 offset3">
		<h3>Please Sign in</h3>
		<div class="session_form">
			<%= form_for(:session, url: sessions_path) do |f| %>

				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password %>
				<%= f.password_field :password %>

				<%= f.submit "SIGN IN", class: "btn btn-small" %>
			<% end %>
		</div>
			<span id="link_button"> Not a current user? <%= link_to "SIGN UP IMMEDIATELY", signup_path %></span>
	</div>
</div>