  <div id="item_counter">
    <%= page_entries_info @setlists %>
  </div>

<% if @setlists.size == 0 %>

  <div class="empty_track">
      <p>No active setlists found.</p>
  </div>

<% else %>

  <div>
    <% @setlists.each do |set| %>

      <% if set.active? %>

        <table class="act_set">
          <tr>
            <td class="set_content_left">
              <p class="set_title"><%= link_to "#{truncate(set[:title].titleize, length: 36 )}", setlist_path(set) %><p>              
              <p class="meta">
                <span class="heading">CONTAINS: </span><%= pluralize(set.tracks.count, "song") %>
              </p>
            </td>

            <td class="set_content_right">
              <p class="set_dsc"><%= truncate(set[:description], length: 70 ) %></p>
              <p class="meta">
                <span>PERFORMANCE DATE: </span>
                <%= set[:performance_date].strftime("%B %d, %Y") %>
              </p>
            </td>

            <td class="set_button_block">
              <div class="icon_view" data-toggle="tooltip" title="View this Setlist">
                <%= link_to image_tag("icon_view.png"), setlist_path(set) %>
              </div>
              <div class="icon" data-toggle="tooltip" title="Archive this Setlist">
                  <%= link_to image_tag("icon_unarc_alt.png"), archive_setlist_path(set) %>
              </div>
              <div class="icon">
                <%= link_to image_tag("icon_delete.png"), set, method: :delete,
                      data: { confirm: "Do you really want to delete: #{set.title.upcase}?" } %>
              </div>
            </td>
          </tr>
        </table>

      <% else %>

        <table class="arc_set">
          <tr>
            <td class="set_content_left">
              <p class="set_title"><%= link_to "#{truncate(set[:title].titleize, length: 36 )}", setlist_path(set) %><p>
              <p class="meta">
                <span>CONTAINS: </span><%= pluralize(set.tracks.count, "song") %>
              </p>
            </td>

            <td class="set_content_right">
              <p class="set_dsc"><%= truncate(set[:description], length: 70 ) %></p>
              <p class="meta">
                <span>PERFORMANCE DATE: </span>
                <%= set[:performance_date].strftime("%B %d, %Y") %>
              </p>
            </td>

            <td class="set_button_block">
              <div class="icon_view" data-toggle="tooltip" title="VIEW THIS SETLIST">
                <%= link_to image_tag("icon_view.png"), setlist_path(set) %>
              </div>
              <div class="icon" data-toggle="tooltip" title="ACTIVATE THIS SETLIST">
                  <%= link_to image_tag("icon_arc.png"), unarchive_setlist_path(set) %>
              </div>
              <div class="icon">
                <%= link_to image_tag("icon_delete.png"), set, method: :delete,
                      data: { confirm: "Do you really want to delete: #{set.title.upcase}?" } %>
              </div>
            </td>
          </tr>
        </table>

      <% end %>

    <% end %>
  </div>

<% end %>
  