  <div id="item_counter">
    <%= page_entries_info @setlists %>
    <p id="newset">
      <%= link_to image_tag("icon_add.png"), new_setlist_path, class: "icon_add" %>
      <span><%= link_to "NEW SETLIST", new_setlist_path %></span>
    </p><br/>
  </div>

<% if @setlists.size == 0 %>

  <div class="empty_track">
      <p>No active setlists found.</p>
  </div>

<% else %>

  <div>
    <% @setlists.each do |set| %>

      <% if set.active? %>

        <table class="setpiece">
          <tr>
            <td class="set_content_left">
              <p class="set_title"><%= set[:title] %><p>
              <p class="meta">
                <span class="heading">CONTAINS: </span><%= pluralize(set.tracks.count, "song") %>
              </p>
            </td>

            <td class="set_content_right">
              <p class="set_dsc"><%= set[:description] %></p>
              <p class="meta">
                <span>PERFORMANCE DATE: </span>
                <%= set[:performance_date].strftime("%B %d, %Y") %>
              </p>
            </td>

            <td class="set_button_block">
              <div class="icon_view">
                <%= link_to image_tag("icon_view.png"), setlist_path(set) %>
              </div>
              <div class="icon">
                <%= link_to image_tag("icon_unarc_alt.png"), archive_setlist_path(set) %>
              </div>
              <div class="icon">
                <%= link_to image_tag("icon_delete.png"), set, method: :delete,
                      data: { confirm: "Do you really want to delete: #{set.title.upcase}?" } %>
              </div>
            </td>
          </tr>
        </table>

      <% else %>

        <table class="arc_set">
          <tr>
            <td class="set_content_left">
              <p class="set_title"><%= set[:title] %><p>
              <p class="meta">
                <span>CONTAINS: </span><%= pluralize(set.tracks.count, "song") %>
              </p>
            </td>

            <td class="set_content_right">
              <p class="set_dsc"><%= set[:description] %></p>
              <p class="meta">
                <span>PERFORMANCE DATE: </span>
                <%= set[:performance_date].strftime("%B %d, %Y") %>
              </p>
            </td>

            <td class="set_button_block">
              <div class="icon_view">
                <%= link_to image_tag("icon_view.png"), setlist_path(set) %>
              </div>
              <div class="icon">
                <%= link_to image_tag("icon_arc.png"), unarchive_setlist_path(set) %>
              </div>
              <div class="icon">
                <%= link_to image_tag("icon_delete.png"), set, method: :delete,
                      data: { confirm: "Do you really want to delete: #{set.title.upcase}?" } %>
              </div>
            </td>
          </tr>
        </table>

      <% end %>

    <% end %>
  </div>

<% end %>