  <div id="item_counter">
    Displaying all <%= pluralize(@setlist.tracks.count, "song") %>
      <p id="addtrack">
        <%= link_to image_tag("icon_add.png"), "#", class: "icon_add" %>
        <label>ADD A SONG</label>
      </p><br/>
  </div>

<% if @setlist.tracks.count == 0 %>

  <div class="trackorder">
      <div class="empty_track">
        <table class="setpiece">
          <p>No songs found.</p>
        </table>
      </div>
  </div>

<% elsif @setlist.active? %>

  <ul id="trackorder">
    <% set = Setlist.find(params[:id]) %>
    <% set.tracks.each do |t| %>
      <% song = t.tracked %>
      <% alb = song.album %>
      <% com = song.composer %>
      <% gen = song.genre %>
      <% track = Track.find_by_tracked_id(song.id)%>
      <li id="track_<%= t.id %>">
        <div class="track">
          <div class="track_position">
            <input type="text">
          </div>
          <div>
            <table class="piece">
              <tr>
                <td class="setsong_left">
                  <p class="song_title"><%= song.title %></p>

                  <p class="meta">
                    <span>ALBUM: </span><%= link_to alb.album_name, album_path(alb) %>
                  </p>
                </td>

                <td class="song_content_right">
                  <p>
                    <span>COMPOSER: </span><%= link_to com.name, composer_path(com) %>
                  </p>
                  <p class="meta">
                    <span>GENRE: </span><%= link_to gen.name, genre_path(gen) %>
                  </p>
                </td>

                <td class="song_button_block">
                  <div class="icon_edit">
                    <%= link_to image_tag("icon_edit.png"), edit_song_path(song) %>
                  </div>
                  <div class="icon">
                    <% if @setlist.active? %>
                      <%= link_to image_tag("icon_delete.png"), track, method: :delete,
                          data: { confirm: "Do you really want to delete: #{song.title.upcase}?" } %>
                    <% else %>
                      <%= link_to image_tag("icon_delete.png"), "#", id: "editset" %>
                    <% end %>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <div class="tags_inset">
              <p><%= raw song.tag_list.map { |t| link_to t, tag_path(t) }.join(' ').upcase %></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <script>
    sort_ul = $('#trackorder');
    itemsCount = $("#trackorder li").length;

    function updateIndexes(){
      $('li input').each(function(i){
        $(this).val(i+1);
        });    
    }

    function ajaxdata(){
      $.ajax({
        type: 'post',
        beforeSend : function (xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
        },
        data: $('#trackorder').sortable('serialize'),
        dataType: 'script',
        url: '<%= sort_tracks_path %>'});
    }

    updateIndexes();

    $("#trackorder").sortable({ 
      placeholder: "sort_highlight",
      distance: 10,
      opacity: 0.80,
      axis: "y",
      cursor: "move",
      tolerance: "intersect",

      stop: function(event, ui){
        updateIndexes();
      },

      update: function(){
        ajaxdata();
      }
    });

    $('li input').keyup(function(event) {
      if(event.keyCode == '13'){      
        event.preventDefault();
          
        order = parseInt($(this).val());
        li = $(this).parent().parent().parent();

        if ( order>=1 && order <= itemsCount ){      
            
          li.effect( 'drop',{duration: 500}, function() {
              li.detach();
                  
              if( order == itemsCount )
                  sort_ul.append(li);
              else
                  li.insertBefore($('#trackorder li:eq('+(order-1)+')'));
              
              updateIndexes();
              ajaxdata();
              li.effect('slide',{duration: 500});
          });
        }
        
        else if (order > itemsCount){
          li.effect( 'drop',{duration: 500}, function() {
            li.detach();

            sort_ul.append(li);

            updateIndexes();
            ajaxdata();
            li.effect('slide',{duration: 500});
          });
        }

        else {
          li.effect( 'drop',{duration: 500}, function() {
            li.detach();

            li.insertBefore($('#trackorder li:eq('+(order-1+1)+')'));

            updateIndexes();
            ajaxdata();
            li.effect('slide',{duration: 500});
          });
        }
      }    
    });

    $(".piece").disableSelection();
  </script>

<% else %>

  <ul id="trackorder">
    <% set = Setlist.find(params[:id]) %>
    <% set.tracks.each do |t| %>
      <% song = t.tracked %>
      <% alb = song.album %>
      <% com = song.composer %>
      <% gen = song.genre %>
      <% track = Track.find_by_tracked_id(song.id)%>
      <li id="track_<%= t.id %>">
        <div class="track_locked">
          <div class="track_pos_locked">
            <%= t.position %>
          </div>
          <div>
            <table class="piece">
              <tr>
                <td class="setsong_left">
                  <p class="song_title_locked"><%= song.title %></p>

                  <p class="meta">
                    <span>ALBUM: </span><%= link_to alb.album_name, album_path(alb) %>
                  </p>
                </td>

                <td class="song_content_right">
                  <p>
                    <span>COMPOSER: </span><%= link_to com.name, composer_path(com) %>
                  </p>
                  <p class="meta">
                    <span>GENRE: </span><%= link_to gen.name, genre_path(gen) %>
                  </p>
                </td>

                <td class="song_button_block">
                  <div class="icon_edit">
                    <%= link_to image_tag("icon_edit.png"), edit_song_path(song) %>
                  </div>
                  <div class="icon">
                    <% if @setlist.active? %>
                      <%= link_to image_tag("icon_delete.png"), track, method: :delete,
                          data: { confirm: "Do you really want to delete: #{song.title.upcase}?" } %>
                    <% else %>
                      <%= link_to image_tag("icon_delete.png"), "#", id: "editset" %>
                    <% end %>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <div class="tags_inset">
              <p><%= raw song.tag_list.map { |t| link_to t, tag_path(t) }.join(' ').upcase %></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <script>
      // $("#trackorder").disableSelection();
  </script>


<% end %>




