<% provide(:title, "Active Setlists") %>

<div id="sidebar">
  <h4>The Sidebar Headline</h4>
    <p>
      Lorem ipsum Esse nisi proident in in cupidatat proident est culpa laborum. Lorem ipsum Aliqua exercitation ad adipisicing deserunt eu sit in non. Lorem ipsum Proident laboris enim ea id consectetur in eiusmod. 
    </p>
    <ul>
      <li>Lorem ipsum Veniam sunt</li>
      <li>velit in nisi incididunt</li>
      <li>eu id minim dolore</li>
      <li>aliqua commodo officia.</li>
    </ul>
    <p>
      Lorem ipsum Dolore pariatur mollit et ullamco et esse velit.
    </p>    
</div>

<div id="content_main">

  <div class="setlist_trail">
    <%= link_to "ALL MY SETLISTS", setlists_path %>
    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
  </div>
  <div class="setlist_title">
    <div id="search_form">
      <%= form_tag setlists_path, method: 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search your setlists" %>
      <% end %>
    </div>
    <div class="mainlink">
      <h3><%= link_to "ACTIVE SETLISTS", active_setlists_path %></h3>
    </div>
  </div>


  <div class="greywrap_top">
  </div>
  <div class="greywrap">

    <div class="content_head">
  
      <div class='pagination'>
        <%= will_paginate @setlists.active %>
      </div>
    </div>

    <div class="content_body">

      <%= render "setlists/active" %>

    </div>

  </div>
</div>
