<div id="item_counter">
  This composer has <%= pluralize(@composer.songs.count, "song") %>
    <p id="newsong">
      <%= link_to image_tag("icon_add.png"), new_song_path, class: "icon_add" %>
      <span><%= link_to "NEW SONG", new_song_path %></span>
    </p><br/>
  </div>

<% if @songs.size == 0 %>

  <div class="empty_track">
      <p>No songs found.</p>
  </div>

<% else %>

<div>
  <% @songs.each do |song| %>
    <% alb = Album.find(song.album_id) %>
    <% com = Composer.find(song.composer_id) %>
    <% gen = Genre.find(song.genre_id) %>

  <div class="assign">
    <div class="toggle"><%= image_tag("icon_setlist.png", class: "icon_sm") %></div>
    <div class="choose_set">
      <%= simple_form_for song.tracks.build do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.button :submit, "ADD THIS SONG", id: 'save_addtrack', class: "btn btn-small" %>
      <div id="none">
        <%= f.input :tracked_id, as: :hidden %>
      </div>
      <%= f.input :tracker_id, label: "Add this Song to a Setlist", 
                  collection: Setlist.active(order: "performance_date"),
                  prompt: "CHOOSE FROM YOUR ACTIVE SETLISTS" %>
      <% end %>
    </div>
  </div>

  <table class="piece">

    <tr>
      <td class="song_content_left">
        <p class="song_title"><%= song.title %></p>

        <p class="meta">
          <span>ALBUM: </span><%= link_to alb.album_name, album_path(alb) %>
        </p>
      </td>

      <td class="song_content_right">
        <p class="meta">
          <span>GENRE: </span><%= link_to gen.name, genre_path(gen) %>
        </p>
      </td>

      <td class="song_button_block">
        <div>
        <div class="icon_edit">
          <%= link_to image_tag("icon_edit.png"), edit_song_path(song) %>
        </div>
        <div class="icon">
          <%= link_to image_tag("icon_delete.png"), song, method: :delete,
                data: { confirm: "Do you really want to delete: #{song.title.upcase}?" } %>
        </div>
      </td>

    </tr>
  </table>
</div>
<div>
  <ul class="tags">
    <li><%= raw song.tag_list.map { |t| link_to t, tag_path(t) }.join(' ').upcase %></li>
  </ul>
    <% end %>
</div>

<% end %>

    <script>

      $( ".assign" ).accordion({
        collapsible: true,
        active: false,
        animate: 250
      });
    </script>

