<% provide(:title, @composer.name) %>

<div class="notice_br">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert-temp alert fade in alert-#{key}") %>
  <% end %>
</div>

<div id="content_main">

  <div class="setlist_trail">
    <%= link_to "ALL MUSIC", songs_path %>
    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
    <span>COMPOSER</span>
  </div>

  <div id="addbutton_br">
    <%= link_to "NEW SONG", new_song_path, id: 'addtrack', :class => 'btn-small btn-small-grn' %>
  </div>

  <div class="setlist_title">   
    <div class="mainlink">
      <h4><%= @composer.name %></h4>
    </div>
  </div>

  <div class="tanwrap_top">
  </div>

  <div class="tanwrap">
    <div class="content_head">
      <div class='pagination'>
        <%= will_paginate @songs %>
      </div>
    </div> 

    <div class="content_body">

      <%= render "composers/list" %>

    </div>


  </div>
</div>

<div id="sidebar">
  <%= render "sidebar/side_songs" %>
</div>



