<% provide(:title, "Users") %>

<div class="container">

  <div class="songlist_title">
    <div class="mainlink">
      <h3>ALL USERS</h3>
    </div>
  </div>

  <div class="greywrap_top">
  </div>
    <div class="greywrap">

			<div class="content_body">
			  <div id="item_counter">
		    Showing all <%= @users.count %> Users
			  </div>
			  <table class="users">
			  	<th class="id">ID</th>
			  	<th class="admin">Admin</th>
			  	<th class="name">Name</th>
			  	<th class="e_address">Email</th>
			  	<th class="setlists">Setlists</th>
			  	<th class="activity">Last Activity</th>
			  	<th></th>

		  		<% @users.each do |user| %>
		  		<% @user = User.find_by_remember_token(cookies[:remember_token]) %>
		  		<tr>
		  			<!-- ID -->
		  			<td><%= user.id.to_s.rjust(2, '0') %></td>
		  			<!-- ADMIN -->
		  			<% if user.admin? %>
		  				<td>YES</td>
		  			<% else %>
		  				<td></td>
	  				<% end %>
	  				<td><%= user.name %></td>
	  				<!--  -->
	  				<td><%= user.email %></td>
	  				<!-- SETLIST COUNT -->
						<td>has <%= pluralize(user.setlists.count, "setlist") %></td>

						<!-- RECENT ACTIVITY -->
						<% if user.setlists.count > 0 %>

							<% set_sorted = [] %>
							<% sets_updated = user.setlists %> 

							<% sets_updated.each do |s| %>
								<% set_sorted.push(s) %>
							<% end %>

							<% set_sorted.sort! {|x,y| y.updated_at <=> x.updated_at } %>

							<td><%= time_ago_in_words(set_sorted.first.updated_at) %> ago</td>
						<% else %>
							<td>none</td>
						<% end %>

						<% if @user.admin || user == @user %>
	          <td><div class="remove_icon">
	            <%= link_to image_tag("icon_delete.png"), user, method: :delete,
	                  data: { confirm: "Do you really want to delete the user: #{user.name.upcase}?" } %>
	          </div></td>
	          <% else %>
	          <td></td>
	          <% end %>
	  			</tr>
  			<% end %>
	  		</table>
			</div>
		
		</div>
</div>