<div class="consider">

	<% sorted = [] %>
	<% recent = [] %>

	<% Track.all.each do |t| %>
		<% if t.tracker.user == current_user %>
		<% sorted.push(t) %>
		<% recent.push(t.tracked) %>
		<% end %>
	<% end %>

	<% sorted.sort! {|x,y| y.created_at <=> x.created_at } %> 
	<% song = sorted[0..4].sort_by { rand }.first.tracked %>
	<% related = (song.find_related_tags) - recent %>
	<% gen = song.genre.songs - recent %>
	<% comp = song.composer.songs - recent - gen %>

	<h5>FOR YOUR CONSIDERATION</h5>

		<div>You recently used the Song: 
			<p><span class="gray"><%= link_to "#{truncate(song.title.upcase, length: 34, separator: ' ')}", 
						"#{songs_path}" + "?utf8=✓&search=" + "#{song.title}" %></span></p>
		</div>

		<% if !related.empty? %>
		<div id="related">
			The following songs have similar tags:
			<ul>
			<% related[0..5].each do |s| %>
				<li>
					<span>
						<%= link_to "#{truncate(s.title, length: 42, separator: ' ')}", 
						"#{songs_path}" + "?utf8=✓&search=" + "#{s.title}" %>
					</span>
					<% end %>
				</li>
			</ul>
		</div>

		<% elsif !gen.empty? && !comp.empty? %>
		<div id="related">
			Consider the following similar songs:</br>
			FROM THE SAME GENRE
			<ul>
			<% gen[0..2].sort_by { rand }.each do |s| %>
				<li>
					<span>
						<%= link_to "#{truncate(s.title, length: 42, separator: ' ')}", 
						"#{songs_path}" + "?utf8=✓&search=" + "#{s.title}" %>
					</span>
				</li>
				<% end %>
			</ul>

			FROM THE SAME COMPOSER
			<ul>
			<% comp[0..1].sort_by { rand }.each do |s| %>
				<li>
					<span>
						<%= link_to "#{truncate(s.title, length: 42, separator: ' ')}", 
						"#{songs_path}" + "?utf8=✓&search=" + "#{s.title}" %>
					</span>
				</li>
				<% end %>
			</ul>
		</div>

		<% else %>
		<div id="related">
			Consider a few random suggestions:
			<ul>
			<% random = [] %>
			<% Song.all.each do |x| %>
				<% random.push(x) %>
				<% end %>
			<% random.sort_by! { rand } %>
			<% songs = random - recent %>
			<% songs[0..5].each do |s| %>
				<li>
					<span>
						<%= link_to "#{truncate(s.title, length: 42, separator: ' ')}", 
						"#{songs_path}" + "?utf8=✓&search=" + "#{s.title}" %>
					</span>
					<% end %>
				</li>
			</ul>
		</div>

		<% end %>

</div>