<div class="recent_user">

	<% set_soon = [] %>
	<% sets_upcoming = current_user.setlists.where("performance_date > ?", 1.days.ago) %>

	<% set_sorted = [] %>
	<% sets_updated = current_user.setlists.where("updated_at > ?", 15.days.ago) %> 

	<% sets_upcoming.each do |s| %>
		<% set_soon.push(s) %>
	<% end %>

	<% sets_updated.each do |s| %>
		<% set_sorted.push(s) %>
	<% end %>

	<% set_soon.sort! {|x,y| x.performance_date <=> y.performance_date } %>
	<% set_sorted.sort! {|x,y| y.updated_at <=> x.updated_at } %>

	<div id="setsoon"><h5>UPCOMING PERFORMANCES</h5></div>

	<% if set_soon.empty? %>
		<div class="op_content">
		<p>
			You don't have any upcoming performances.
		</p>
	</div>

	<% else %>
		<% set_soon[0..2].each do |x| %>
		<div class="upcoming">
			<span class="date">
			<%= x.performance_date.strftime("%B %d, %Y") %>
			</span>
			<%= link_to "#{truncate(x.title, length: 42)}", setlist_path(x) %>
		</div>
		<% end %>
	<% end %>
	
</br>

	<h5>RECENT SETLISTS</h5>
	<% set_sorted[0..4].uniq { |p| p.id }.each do |x| %>
		<ul>
			<% if x.created_at == x.updated_at %>
			<li>
				<span class="date"><%= x.created_at.strftime("%B %d, %Y") %></span>
				<span class="orange">CREATED</span> <%= link_to "#{truncate(x.title, length: 40)}", setlist_path(x) %>
			</li>
			<% else %>
			<li>
				<span class="date"><%= x.updated_at.strftime("%B %d, %Y") %></span>
				<span class="blue">EDITED</span> <%= link_to "#{truncate(x.title, length: 40)}", setlist_path(x) %>
			</li>
			<% end %>
		</ul>
	<% end %>
	
</div>