<% sorted = [] %>

<% sets = Setlist.where("updated_at > ?", 5.days.ago) %> 
<% tracks = Track.where("updated_at > ?", 5.days.ago) %> 
<% songs = Song.where("updated_at > ?", 5.days.ago) %> 

<% sets.each do |s| %>
	<% sorted.push(s) %>
<% end %>

<% tracks.each do |t| %>
	<% sorted.push(t) %>
<% end %>

<% songs.each do |t| %>
	<% sorted.push(t) %>
<% end %>

<% sorted.sort! {|x,y| y.updated_at <=> x.updated_at } %>

<h5>RECENT USERS</h5>
	<div class="recent">
		<% sorted.uniq { |p| p.id }.each do |x| %>
			<% same = x.updated_at == x.created_at %>
			<% if x.respond_to?('composer') %>
				<p> 
			    <%= "#{x.updated_at}" %>
			    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
			    <% if same %>
			    	<%= "YES" %>
			    	<% else %>
			    	<%= "#{x.created_at}" %>
			    	<% end %>
				    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
					Song
			    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
					<%= truncate("#{x.title}") %> 
				</p>
			<% elsif x.respond_to?('description') %>
				<p> 
			    <%= "#{x.updated_at}" %>
			    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
			    <% if same %>
			    	<%= "YES" %>
			    	<% else %>
			    	<%= "#{x.created_at}" %>
			    	<% end %>
			    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
					Setlist
			    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
					<%= truncate("#{x.title}") %>
			  </p>
			<% else %>
				<p> 
					<%= "#{x.id}" %>
			    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
			    <%= "#{x.updated_at}" %>
			    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
			    <% if same %>
			    	<%= "YES" %>
			    	<% else %>
			    	<%= "#{x.created_at}" %>
			    	<% end %>
			    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
					Track
			    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
					<%= truncate("#{x.tracked.title}") %>
			    <%= image_tag("breadcrumb.png", id: "breadcrumb-sm") %>
			    <%= truncate("#{x.tracker.title}") %>
			  </p>
			<% end %>
		<% end %>
	</div>
