<% provide(:title, "Music") %>

<div class="notice_nobr">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert-temp alert fade in alert-#{key}") %>
  <% end %>
</div>

<div id="sidebar">
  <%= render "sidebar/side_songs" %>
</div>

<div id="content_main">

  <div class="songlist_title">
    <div id="search_form">
      <%= form_tag songs_path, method: 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search all songs" %>
      <% end %>
    </div>
    <div class="mainlink">
      <h3><%= link_to "ALL MUSIC", songs_path %></h3>
    </div>
  </div>

  <div class="tanwrap_top">
  </div>

  <div class="tanwrap">

    <div class="content_head">

      <div class='pagination'>
        <%= will_paginate @songs %>
      </div>
    </div>     
    
    <div class="content_body">

      <%= render "songs/list" %>

    </div>

  </div>
</div>