<% provide(:title, "Dashboard") %>



  <div class="welcome">

    <div class="welcome_notice">
      <h3><%= link_to "DASHBOARD", '/home' %></h3>
    </div>
  </div>

  <div class="greywrap_top">
  </div>

	<div class="greywrap">
	
		<div class="content_head">
			<h3>Your recent activity...</h3>
		</div>

		<% tracks = Track.where(current_user.setlists.include?(:tracker)) %>

		<% if current_user.setlists.empty? || tracks.empty?%>
		<!-- do something -->
		
		<div class="ucon_left">
			<%= render 'recent/usersongs' %>
		</div>
		<div class="ucon_mid">
			<%= render 'recent/usersets' %>
		</div>
		<div class="ucon_right">
			<%= render 'recent/consider' %>
		</div>

		<div class="content_head">
			<h3>Activity around the community...</h3>
		</div>

		<% else %>

	<!-- USER                            -->
		<div class="ucon_left">
			<%= render 'recent/usersongs' %>
		</div>
		<div class="ucon_mid">
			<%= render 'recent/usersets' %>
		</div>
		<div class="ucon_right">
			<%= render 'recent/consider' %>
		</div>

		<div class="content_head">
			<h3>Activity around the community...</h3>
		</div>

		<% end %>

	<!-- COMMUNITY                       -->
		<div class="comcon_mid">
			<h5>NEW SONGS</h5>
		</div>

		<div class="comcon_left">
			<%= render 'recent/comsongs' %>
		</div>	

		<div class="comcon_right">
			<%= render 'recent/comtags' %>
		</div>


	</div>


