<% if !signed_in? %>

	<% provide(:title, "SIGN IN") %>

	<div class="container">
		<div class="formbox span8 offset2">

			<h3>WELCOME</h3>

			<div id="signin">
				<div id="user">
					SIGN IN TO YOUR EXISTING ACCOUNT
				</div>
				<div id="session_form">
					<%= form_for(:session, url: sessions_path) do |f| %>

						<%= f.label :email %>
						<%= f.text_field :email %>

						<%= f.label :password %>
						<%= f.password_field :password %>

						<%= f.submit "SIGN IN", class: "btn btn-small" %>
					<% end %>
				</div>
			</div>

			<div id="signup">
				<div id="user">
					CREATE A NEW ACCOUNT
				</div>
				<div class="btn btn-large signup_btn">
					<%= link_to "SIGN UP IMMEDIATELY", signup_path %>
				</div>
			</div>

		</div>
	</div>

<% else %>

<% provide(:title, "Dashboard") %>

	<div class="songlist_title">
    <div id="search_form">
      <%= form_tag songs_path, method: 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search all songs" %>
      <% end %>
    </div>
    <div class="mainlink">
      <h3><%= link_to "DASHBOARD", '/home' %></h3>
    </div>
  </div>

  <div class="greywrap_top">
  </div>

	<div class="greywrap">
	
		<div class="content_head">
			<h3>Your recent activity...</h3>
		</div>

		<% tracks = Track.where(current_user.setlists.include?(:tracker)) %>

		<% if current_user.setlists.empty? && tracks.empty?%>
		
		<div class="ucon_new">
			<%= render 'recent/usernew' %>
		</div>

		<div class="ucon_right">
			<%= render 'recent/consider' %>
		</div>

		<div class="content_head">
			<h3>Activity around the community...</h3>
		</div>

		<% else %>

	<!-- USER                            -->
		<div class="ucon_left">
			<%= render 'recent/usersongs' %>
		</div>
		<div class="ucon_mid">
			<%= render 'recent/usersets' %>
		</div>
		<div class="ucon_right">
			<%= render 'recent/consider' %>
		</div>

		<div class="content_head">
			<h3>Activity around the community...</h3>
		</div>

		<% end %>

	<!-- COMMUNITY                       -->
		<div class="comcon_left">
			<%= render 'recent/comsongs' %>
		</div>	

		<div class="comcon_mid">
			<h5>NEW SONGS</h5>
				<ul>
					<li>
						Still a possibility.
					</li>
				</ul>
		</div>

		<div class="comcon_right">
			<%= render 'recent/comtags' %>
		</div>

	</div>
<% end %>

