<div class="clear">
  <div id="footer">
    <div class="container">
      
      <div id="footer_links">
        <span><%= link_to "Help", "#" %></span>
        <span><%= link_to "Email Newsletter", "#" %></span>
        <span><%= link_to "Feedback", "#" %></span>
        <span><%= link_to "Share", "#" %></span>
        <span>Be Social:&nbsp;<%= link_to image_tag("footer_facebook_icon.png"), "#" %>&nbsp;<%= link_to image_tag("footer_twitter_icon.png"), "#" %></span>
      </div>
    
    </div>
  </div>
</div>
