<div id="header">
    <div class="container">

    <div id="logo">
      <% if signed_in? %>
      <%= link_to image_tag("logo_alpha2.png"), "/home" %>
      <% else %>
      <%= link_to image_tag("logo_alpha2.png"), "/" %>
      <% end %>
    </div>

    <% if signed_in? %>

      <div id="search_form">
        <%= form_tag songs_path, method: 'get' do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search all songs", autocomplete: "off" %>
        <% end %>
      </div>

    <div id="topbar">

      <div id="navmenu">

        <div class="navitem"><%= link_to "DASHBOARD", '/home' %></div>

        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            MUSIC <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "All Music", songs_path %></li>
            <li class="divider"></li>
            <li><%= link_to "New Song", new_song_path %></li>
          </ul>
        </div>

        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            SETLISTS <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Active Setlists", active_setlists_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Archived Setlists", archived_setlists_path %></li>
            <li><%= link_to "All My Setlists", setlists_path %></li>
            <li class="divider"></li>
            <li><%= link_to "New Setlist", new_setlist_path %></li>
          </ul>
        </div>

        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            MY ACCOUNT <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Delete Account", current_user, method: :delete,
                    data: { confirm: "DO YOU SERIOUSLY WANT TO DELETE YOUR ACCOUNT?\n\nYour data will disappear into the void forever.\n\nThis cannot be undone."} %>
          </ul>
        </div>
      </div>    

      <span><%= link_to "SIGN OUT", signout_path, method: "delete" %></span>
      <div id="topbar_right" class="navitem">You are signed in as
        <p><%= "#{current_user.name}" %></p>
      </div>             
    </div>

    <% else %>

    <div id="topbar_blank">
      <div id="topbar_right"
        <%= link_to "SIGN IN HELP", "https://en.wikipedia.org/wiki/Login", :class => "btn-mini" %>
      </div>
    </div>

    <% end %>

  </div>
</div>

<script>
$('#search').autocomplete({
    source: function (request, response) {
        $.ajax({
            url: "<%= songs_path %>",
            dataType: 'json',
            data: request,
            success: function (data) {
                response(data.map(function (value) {
                    return {
                        'label': value.title
                    };  
                }));
            }   
        }); 
    },  
    minLength: 2
})

</script>
